body {
    font-family: 'Courier New', Courier, monospace;
    margin: 50;
    padding: 0;
    box-sizing: border-box;
    color: #111;
    font-size: 1.1em;
    display: flex;
    flex-direction: column; /* organizează conținutul în coloană */
    align-items: center; /* centrează conținutul orizontal */
    min-height: 10vh;
    overflow: auto; /* permite scroll dacă conținutul depășește înălțimea */
}

body::before {
    content: '';
    position: fixed; /* poziționare fixă pentru a rămâne în fundal */
    top: 0; right: 0; bottom: 0; left: 0;
    background: url('../images/forest6.jpg') no-repeat center center;
    background-size: cover;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    z-index: -1;
}

.cover-container {
    position: relative;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    overflow: hidden;
    width: 90%;
    max-width: 800px;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    margin-top: 20px; /* adaugă un spațiu de sus */
}

.header, .main {
    text-align: center;
}

.nav-link, .btn {
    color: #111;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-link:hover, .nav-link.active, .btn:hover {
    background-color: rgba(203, 212, 106, 0.442);
}

.btn {
    background-color: #a7af4c;
    color: white;
    border: 1px solid #4c4f49;
}

.footer {
    padding: 10px;
    text-align: center;
}

@media (max-width: 768px) {
    .cover-container {
        width: 95%;
    }

    body {
        font-size: 1em;
    }
}

.main {
    /* Restul stilurilor tale */
    overflow-y: auto; /* Permite derularea verticală */
    max-height: calc(100vh - 100px); /* Ajustează înălțimea maximă dacă este necesar */
}
