:root {
    --primary-color: #111;
    --background-color: rgba(197, 238, 217, 0.7);
    --button-color: #049548b4;
    --button-hover-color: rgba(0, 131, 37, 0.3);
    --border-color: #ccc;
    --box-shadow-color: rgba(0, 0, 0, 0.59);
    --text-color: rgb(255, 255, 255);
    --font-family: 'Courier New', Courier, monospace;
}

body {
    font-family: var(--font-family);
    margin: 50px;
    padding: 0;
    box-sizing: border-box;
    color: var(--primary-color);
    font-size: 1.1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    overflow: auto;
}

.camp-list {
    padding-bottom: 20px;
}

body::before {
    content: '';
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    background: url('../images/forest4.jpg') no-repeat center center;
    background-size: cover;
    filter: blur(1px);
    z-index: -1;
}

.cover-container {
    position: relative;
    z-index: 1;
    background-color: var(--background-color);
    border-radius: 10px;
    overflow: hidden;
    max-width: 800px;
    width: auto;
    padding: 20px;
    box-shadow: 0 0 10px 0 var(--box-shadow-color);
    margin-top: 10px;
}

.header, .main, .footer {
    text-align: center;
}

.nav-link, .btn {
    color: var(--primary-color);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-link:hover, .nav-link.active, .btn:hover {
    background-color: var(--button-hover-color);
    text-color: revert;
}

.btn {
    background-color: var(--button-color);
    color: var(--text-color);
    margin-bottom: 10px;
    padding: 10px 20px;
    
    border: 1px solid var(--border-color);
}

.footer {
    padding: 10px;
}

.main {
    overflow: hidden;
}

.camp-card {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.3);
    backdrop-filter: blur(10px);
    max-width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.actions {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.camp-list .btn {
    margin-top: 10px;
}

@media (max-width: 768px) {
    .cover-container {
        width: 95%;
    }

    .camp-card {
        padding: 10px;
    }

    .actions {
        flex-direction: column;
    }

    .camp-list .btn {
        width: 100%;
        margin-top: 10px;
    }
}

.camp-form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrează elementele pe orizontală */
    width: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 99%;
}

.form-group label {
    margin-bottom: 5px;
}
.form-group input[type="text"],
.form-group input[type="date"],
.form-group textarea {
    width: 85%; /* Ajustează lățimea după necesități */
    margin: auto; /* Centrează pe orizontală */
    padding: 8px;
    font-family: var(--font-family);
    border: 1px solid var(--border-color);
    border-radius: 4px;
}

.form-group textarea#description {
    height: auto;
    min-height: 100px;
    resize: vertical;
}

.form-control {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    /* Alte stiluri necesare */
}
.form-floating {
    display: flex; /* setează display-ul la flex pentru a folosi Flexbox */
    align-items: center; /* aliniază elementele vertical */
    gap: 10px; /* opțional, pentru a adăuga spațiu între input și etichetă */
}

.form-floating label {
    margin-bottom: 0; /* elimină orice margin-bottom implicit */
    white-space: nowrap; /* previne labelul de a trece pe următorul rând */
}

.form-floating input {
    flex-grow: 1; /* permite inputului să ocupe restul spațiului disponibil */
}


@media (max-width: 768px) {
    .cover-container {
        width: 98%; /* extinde lățimea pe tot ecranul pentru dispozitive mici */
    }

    .form-group input[type="text"],
    .form-group input[type="date"],
    .form-group textarea {
        font-size: 1em;
    }
}

